# Introduction to Data Analysis

### What is Data Analysis? 
It is a process of inspecting, cleaning, transforming and modeling data with the goal of discovering useful information.
To achieve this you need to manipulate data, and to manipulate data you need to source data.
To make proper analysis this data has to have integrity so that the insight does not have bias.

Most data are messy. Messy data contains irregularities, garbage, inconsistencies, missing values and incomplete information.
`Pandas` is the library to be used for this data analysis.


### Sourcing Data
This is collecting structuted/tabulated data directly from sites that host data like:
- kaggle.com
- University of California
- Google Data Search.
- Irvine data repository
- datahub.io

These data are in different formats like csv, json etc.

### Sourcing Data from Host Sites

In [7]:
import pandas as pd

data_jobs_df = pd.read_csv('../../../data/linkedin_jobs_africa/linkedin-jobs-africa.csv')
print(type(data_jobs_df))
data_jobs_df.head()

<class 'pandas.core.frame.DataFrame'>

,title,company,description,onsite_remote,salary,location,criteria,posted_date,link
0,Data Analyst,NNC,We are looking for a passionate certified Data...,onsite,NaN,"Cairo, Cairo, Egypt","[{'مستوى الأقدمية': 'غير مطبق'}, {'نوع التوظيف...",2022-11-18,https://eg.linkedin.com/jobs/view/data-analyst...
1,Data Analyst,Watu Credit,"WATU is a focus-driven, customer-centric compa...",onsite,NaN,"Nairobi County, Kenya","[{'Seniority level': 'Associate'}, {'Employmen...",2022-11-01,https://ke.linkedin.com/jobs/view/data-analyst...
2,Data Analyst (Credit Risk),Kuda,Kuda is a fintech on a mission to make financi...,onsite,NaN,"Cape Town, Western Cape, South Africa","[{'Seniority level': 'Not Applicable'}, {'Empl...",2022-11-21,https://za.linkedin.com/jobs/view/data-analyst...
3,Data Analyst,Watu Credit,Role: Data AnalystReporting to: Data Analytics...,onsite,NaN,"Nairobi, Nairobi County, Kenya","[{'Seniority level': 'Mid-Senior level'}, {'Em...",2022-11-01,https://ke.linkedin.com/jobs/view/data-analyst...
4,Data Analyst,Tata Consultancy Services,About Tata Consultancy ServicesTata Consultanc...,onsite,NaN,"City of Johannesburg, Gauteng, South Africa","[{'Seniority level': 'Mid-Senior level'}, {'Em...",2022-10-27,https://za.linkedin.com/jobs/view/data-analyst...

### Sourcing Data by making API calls.
API stands for Appliaction Programming Interface. 
It is a way for two or more computers to communicate with each other.

In [ ]:
import requests
import json

api_key = 'AIzaSyBR2ykH-xilkW-4kCA5fXnP8fNZ1owpvJ0'
query = 'TalentQL'
search_url = f'https://maps.googleapis.com/maps/api/place/textsearch/json?query={query}&key={api_key}'

response = requests.get(search_url)
json_object = response.json()

In [14]:
json_object.items()

dict_items([('html_attributions', []), ('results', [{'business_status': 'OPERATIONAL', 'formatted_address': '9 Professor Gabriel Olusanya St, Lekki Phase 1, Lagos 106104, Lagos, Nigeria', 'geometry': {'location': {'lat': 6.4306456, 'lng': 3.4779186}, 'viewport': {'northeast': {'lat': 6.432002229892722, 'lng': 3.479413129892722}, 'southwest': {'lat': 6.429302570107278, 'lng': 3.476713470107278}}}, 'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/v1/png_71/generic_business-71.png', 'icon_background_color': '#7B9EB0', 'icon_mask_base_uri': 'https://maps.gstatic.com/mapfiles/place_api/icons/v2/generic_pinlet', 'name': 'TalentQL', 'opening_hours': {}, 'photos': [{'height': 3024, 'html_attributions': ['<a href="https://maps.google.com/maps/contrib/116956697307603049857">A Google User</a>'], 'photo_reference': 'AelY_CsiFIjTZGhnG-Fhax9pNSVOBaGchcoSdAbe3IfWlnohe_lawCSoSAnJwAoZ12CuAf7lxDTYEykIOmXNTPq8hZrc6rmB952GoyeMkWcJ8aDrz8AAfn8Ht_PJ3QE94mp8klfWLbuO6bKmb4dKWzQqn_-YjvWYFKbDsRZymlkOpxa9G_Kt', 'width': 3822}], 'place_id': 'ChIJ1y8O8qD1OxARRb_DOvYIyq4', 'plus_code': {'compound_code': 'CFJH+75 Lagos', 'global_code': '6FR5CFJH+75'}, 'rating': 4.9, 'reference': 'ChIJ1y8O8qD1OxARRb_DOvYIyq4', 'types': ['point_of_interest', 'establishment'], 'user_ratings_total': 29}]), ('status', 'OK')])

### Obtaining Data From Scratch
This occurs when the data to be used is not readily available on host sites or api sites.
You might have to crawl/scrape webpages in other to get this data.
There are regulations to web crawling.

You can also use surveys.
Also we can use pandas methods to get data from wikipedia.

In [17]:
import pandas as pd

url = 'https://en.wikipedia.org/wiki/List_of_highest-grossing_films'
movie_data = pd.read_html(url)

In [26]:
type(movie_data[0])

pandas.core.frame.DataFrame

### Introduction to Pandas.
What is Pandas?
It is a python library used for analyzing, transforming, cleaning, manipulating and wrangling statistics from data.
It can be used to generate statistics from data.

It is made up of two data structures
- Series: This is a one-dimensional data structure, like a column in an excel sheet.
- Dataframe: This is a two-dimensional data strucure. It has a row and column.

In [35]:
# Use head to get the first n rows of the dataset
movie_df = movie_data[0].head()
type(movie_df)

pandas.core.frame.DataFrame

In [36]:
# Get the title column which is a Pandas Series
# Indexing a dataframe returns the indexed column.

movie_title_series = movie_df['Title'].head()
type(movie_title_series)

pandas.core.series.Series

In [37]:
# Use tail to get the last n rows of the dataset
movie_data[0].tail()

    Rank Peak                Title Worldwide gross  Year           Ref
45    46    1        Jurassic Park  $1,037,535,230  1993  [# 75][# 76]
46    47   24      Despicable Me 3  $1,034,800,131  2017  [# 77][# 42]
47    48   22         Finding Dory  $1,028,570,942  2016  [# 78][# 79]
48    49    5  Alice in Wonderland  $1,025,468,216  2010  [# 80][# 81]
49    50   24             Zootopia  $1,023,784,195  2016  [# 82][# 49]

In [41]:
def call ():
    b = 'Hello'

print(b)

NameError: name 'b' is not defined